body
{
    background-color: rgb(234, 239, 248)
}

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(193, 167, 253);
}

#navbar ul
{
    padding: 0;
    list-style: none;

}

#navbar li
{
    display: inline;
    background-color: mediumpurple;
    padding-top: 1em;
    padding-bottom: 1em;
}

#navbar a
{
    text-decoration: none;
    color: honeydew;
    padding-right: 1em;
    padding-left: 1em;
}

#welcome h3
{
    font-family: Arial, Helvetica, sans-serif;
}

#main p
{
    font-family: Arial, Helvetica, sans-serif;
}