body
{
    background-color: #ffffff;
    font-size: 16px;
}

#my-header h1
{
    color: #6c13bf;
    font-family: 'Indie Flower', cursive;
    padding: 10px;
    border-bottom: solid #f1f1f1 2px;
}

.container
{
    margin: auto;
    text-align: center;
    width: 40%;
}

h2
{
    font-family: 'Indie Flower', cursive;
    font-size: 1.7em;
}

.date
{
    color: #3498db;
}

p
{
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
}

.post
{
    margin: auto;
    width: 60%;
    max-width: 800px;
    border: #bdc3c7 7px solid;
    padding: 15px;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}